@model Pessoa

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!--head-->
    <meta name="viewport" content="" width-divvice-width" />
    <title>Editar Usuarios</title>
    <link rel="icon" type="image/x-icon" href="#" />
    <link rel="stylesheet" type="text/css" href="#" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head><!--fim head-->
<body>
    <!--body-->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <nav class="navbar navbar-default">

            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Lista de Usuarios</a>
                </div>
                <url class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Voltar para Home","Index")</li>
                </url>
            </div>
        </nav>

        <div style="margin: auto; width: 90%; padding: 10px;">
            <h4>Atualizar Pessoa</h4>
            <hr />
            @Html.ValidationSummary(true,"", new { @class = "text-danger"})
            @Html.HiddenFor(model => model.Id)

            <table class="content-table">
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2"})
                    </th>
                    <th>
                        @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-2"})
                    </th>
                    <th>
                        @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2"})
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nome, new {htmlAttributes = new { @class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Nome , "" , new { @class = "text-danger"})
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Cpf, new {htmlAttributes = new { @class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Nome , "" , new { @class = "text-danger"})
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Endereco, new {htmlAttributes = new { @class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Nome , "" , new { @class = "text-danger"})
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <input type="submit" value="Salvar Alterações" class="btn btn-default" />
            </div>
        </div>
    }

</body><!--fim body-->

</html>
